$nc-card-shadow: 0 3px 4px rgba(0,0,0,0.25);

.nc-design{
  padding: 0 20px;
  width: 100%;

  &__sections{
    margin: 2.5rem 0;
    width: 100%;
  }

  &__section{
    display: flex;
    width:100%;
    flex-wrap: wrap;

    &__container{
      flex: 1;
      margin-right: .5em;
      text-align: center;
      white-space: nowrap;

      &:last-child { margin-right: 0 }
    }

    &__title{
      @include input-shadow;

      background: $nc-gray-bg;
      border: 3px solid $nc-gray-bg;
      color: $nc-gray;
      display: flex;
      font-weight: 700;
      justify-content: center;
      padding: 1em 1.5em;
      vertical-align: middle;
    }

    &__checkbox {
      display: none;

      &:checked {
        & + label {
          color: $nc-black;
          border-color: $nc-blue;
          background-color: $nc-white;
        }
      }
    }
  }

  &__container{
    display: flex;

    @media screen and (max-width: 850px) { flex-flow: column; }

    &__template a {
      color: inherit !important;

      .hoverable:hover{
        background-color: #f5f5f5;
        opacity: 0.5;
      }
    }

    &__template,
    &__editor {
      flex: 1;
      position:relative;
      border: 1px solid $nc-gray-border;
      box-shadow: 5px .5px 1px 1px rgba (0,0,0,.25);


      @media screen and (max-width: 850px) { width: 100%; }
    }

    &__template{
      background: $nc-white;
      box-shadow: $nc-card-shadow;
      height: 600px;
      margin-right: 10px;
      max-width: 650px;
      min-width: 400px;
      overflow: scroll;
      padding-bottom: 2px;
      padding-top: 2px;

      @media screen and (max-width: 850px) {
        order: 2;
        max-width: 100%;
        margin-top: 20px;
      }
    }

    &__editor{
      background: $nc-white;
      box-shadow: $nc-card-shadow;
      flex-grow: 1;
      height: 600px;
      min-width: 400px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-bottom: 2px;
      padding-top: 2px;

      @media screen and (max-width: 850px) {
        order: 1;
      }
    }
  }
}

.hoverable {
  cursor: pointer;
}
