.nc-layout-card {
  padding: .5em;
  margin-bottom: 1.5em;
  width: 400px;
  height: auto;

  &--selected {
    border: 3px solid #28f392;
  }

  figure {
    box-sizing: border-box;

    img:hover {
      cursor: pointer;
    }
  }

  caption {
    display: block;
    margin-bottom: 2em;
  }
}
