$btn-padding: .75em 1.25em;

.nc-share{

  width:100%;

  &__subtitle {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 2.5em;
  }
  &__left {
      width: 55%;
      display: inline-block;
      padding: 0;
      margin: 15px 0 15px;
  }

  &__right {
    // @include input-shadow;

    background: white;
    float: right;
    display: inline-block;
    // margin: 6em 50px 0;
    padding: 3em 0;
    width:43%;
  }

  &__content-wrapper {
    margin: 0 auto;
    max-width: 500px;
    position: relative;
  }

  &__share-method-wrapper {
    min-width: 300px;
    width: 100%;
    text-align: center;
    padding: 0 1.5em;

    &__share-method {
      text-align: center;
      margin-left: auto !important;
      margin-right: auto !important;
      // margin-bottom: 50px !important;
      margin-top: 65px;
      margin-bottom: 2.5em;
    }
  }

  &__export {
    min-width: 300px;
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 0 1.5em;

    &__file-types {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 10px !important;
    }

    &__export-button {
      width: 100%;
      background-color: $nc-blue;
      border-style: none;
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: $btn-padding;
    }

    &__export-button:hover {
      background-color: $nc-blue-hover;
    }

  }

  &__send-email {
    width: 100%;
    padding: 0 1.5em;

    &__email-input-full-width{
      margin-bottom: 15px;
      border: 1px solid gray;
      border-radius: 5px;
      width: 100%;
      display: inline-block;
    }

    &__email-input {
      margin-bottom: 15px;
      border: 1px solid gray;
      border-radius: 5px;
      width: 79%;
      display: inline-block;
    }

    &__add-button {
      width: 20%;
      background-color: $nc-blue;
      display: inline-block;
      border-style: none;
      color: white;
      font-size: 12px;
      font-weight: bold;
      padding: $btn-padding;
    }

    &__add-button:hover,
    &__send-button:hover {
      background-color: $nc-blue-hover;
    }

    &__send-button {
      background-color: $nc-blue;
      border-style: none;
      color: white;
      font-weight:bold;
      font-size: 14px;
      padding: $btn-padding;
      width: 100%;

    }

    &__emails {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      // overflow-y: auto;
      // overflow-x: hidden;
      max-height: 800px;
      overflow: scroll;
    }

    &__email {
      background-color: black;
      padding: 1em;
      margin-top: 10px;
      box-shadow: $nc-card-shadow;

      &__text {
        display: inline-block;
        text-align: left;
        color: white;
        font-size: 14px;
      }

      &__remove-button {
        display: inline-block;
        background-color: white;
        color: black;
        border-style: none;
        font-type: Impact;
        font-weight: bold;
        font-size: 11px;
        margin-right: 5px;
        float: right;
        position: relative;

        &::after {
          position: absolute;
          top: 0;
          left: -8px;
          content: "";
          border-top: 9px solid transparent;
          border-bottom: 9px solid transparent;
          border-right: 8px solid white;
        }
      }

      &__remove-button:hover {
        color: $nc-error-red;
      }
    }
  }

  &__preview {
    width: 100%;
    margin-top: 40px;

    &__title{
      width: 200px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 30px;
      font-weight: bold;
    }

    &__template-border {
      border: 1px solid $nc-gray-border;
      padding: 15px 0 15px;
      box-shadow: $nc-card-shadow;
    }
  }
}
