.nc-topics-container {
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.nc-topic-card {
  height: 62px;
  // background-color: $nc-gray;
  // background-image: url(../../static/imgs/nc-topic-images/digital-advertising.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $nc-white;
  font-size: 14px;
  width: calc(50% - 20px);
  padding: $nc-md $nc-sm;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  transition: all .3s ease;
  &:hover {
    cursor: pointer;
  }
  &--selected {
    background: $nc-green;
  }
}
