.nc-topics-container {
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.nc-topic-card {
  background-color: $nc-gray;
  background-repeat: no-repeat;
  background-size: cover;
  color: $nc-white;
  font-size: 14px;
  width: calc(33% - 20px);
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  transition: all .3s ease;
  &:hover {
    cursor: pointer;
  }
  &--selected {
    border-color: $nc-blue;
    border-width: 2px;
    border-style: solid;
  }
}
