.nc-edit{

  &__title {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
  }

  &__component{
    margin-bottom:15px;
    padding-left:20px;
    padding-right:20px;
  }

  &__subtitle{
    font-size: 14px;
    font-style: italic;
    margin-bottom: .25em;
  }

  &__text-input{
    color: black;
    padding: .75em 1em;
    width:100%;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  &__html-input{
    width:100%;

    & > .ql-container {
      height:200px !important;
    }
  }

  &__add-button {
    background-color: $nc-blue;
    border-radius: 30px;
    border-style: none;
    color: $nc-white;
    font-size: 14px;
    height: 30px;
    margin-bottom: 20px;
    width: 100px;
  }

  &__remove-button {
    background-color: red;
    border-radius: 5px;
    border-style: none;
    color: $nc-white;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 50px;
  }

  &__group {
    border-top: 1px solid $nc-gray-border;
    display: flex;
    // padding-top: 15px;

    padding: 15px 10px 0;

    &__left {
      flex: 1;
      // padding-right: 10px;
    }

    &__right { flex: 0; }

    .nc-edit__add-button {
      margin-left: 20px;
    }

  }

  &__pills {
    display: flex;

    &__box {
      border: 1px solid $nc-gray-border;
      flex: 1;
      margin-right: 5px;
    }

    &__side-button {
      flex: 0;
      min-width: 100px;
    }

    &__pill {
      background-color: $nc-blue;
      border-radius: 10px;
      display: inline-block;
      font-size: 10px;
      margin-left: 2px;
      margin-right: 1px;
      margin-top: 2px;
      padding-left: 5px;
      padding-right: 5px;

      &__title {
        color: $nc-white;
        display: inline-block;
        min-width: 10px;
        text-align:center;
      }

      &__title:hover {
        cursor: pointer;
      }

      &__button {
        display: inline-block;
        font-size: 10px;
        background-color: transparent;
        border-style: none;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        color: $nc-white;
      }

    }

  }

  &__columns {
    display: flex;
    align-items: stretch;
    height:350px;

    &__left {
      border: 1px solid $nc-gray-border;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 5px;
      width: 50%;
    }

    &__right {
      width: 50%;
      border: 1px solid $nc-gray-border;
      padding: 5px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

  }

  &__file-drop {
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    border: 1px dashed lightgrey;

    &__image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10px;
      background-color: lightgrey;
    }

    &__image {
      height: auto !important;
      width: 150px !important;
    }

    &__text {
      color: $nc-gray-border;
      flex: 1;
      font-size: 20px;
      font-style: italic;
      height: 200px;
      line-height: 200px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
    }

    &__text span {
      display: inline-block;
      line-height: normal;
      vertical-align: middle;
    }

    &__error {
      color: red;
      font-size: 10px;
    }

    &__file {
      background-color: orange;
      height: 100%;
      left: 0px;
      opacity: 0;
      position: absolute;
      top: 0px;
      width: 100%;
    }
  }
}

.quillWrapper {
  .ql-toolbar {
    border-radius: 5px 5px 0 0;
  }

  .ql-container {
    border-radius: 0 0 5px 5px;
  }
}
