.nc-edit{

  &__template {
    display: flex;
    align-items: stretch;
    padding-left: 20px;
    padding-right: 40px;


    &__column {
      position: relative;
      flex: 1
    }

    &__button {
      position: relative;
      @include input-shadow;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      text-align:center;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 15px;
      color: $nc-gray;
      box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05), 2px 1px 2px 0 rgba(0,0,0,.2);

    }

    &__color-picker:hover {
      background-color: lighten($nc-gray-border, 10%);
    }

    &__save {
      background-color: $nc-green;
      color: white;
    }

    &__save:hover {
      background-color: $nc-green-hover;
      box-shadow: 0 -1px 1px 0 rgba(40,243,146,.05), 2px 1px 2px 0 rgba(40,243,146,.2);
    }

    &__popover {

      &__left {
        position: absolute;
        width: 100%;
        display: block;
        text-align:left;
        background-color: transparent;
        z-index: 999;
        color: $nc-black;
        margin-top: 20px;

        &:after,
        &:before {
          top: -37px;
          left: 10%;
          border: solid transparent;
          content: '';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-bottom-color: #fff;
          border-width: 20px;
          margin-left: -20px;
        }

        &:before {
          border-bottom-color: grey;
          border-width: 19px;
          margin-left: -19px;
        }
      }

      &__right {
        position: absolute;
        width: 100%;
        display: block;
        text-align:left;
        background-color: transparent;
        margin-top: 20px;
        z-index: 999;
        color: $nc-black;

        &:after,
        &:before {
          top: -37px;
          right: 10%;
          border: solid transparent;
          content: '';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-bottom-color: #fff;
          border-width: 20px;
          margin-right: -20px;
        }

        &:before {
          border-bottom-color: grey;
          border-width: 19px;
          margin-right: -19px;
        }
      }

      &__body {
        @include input-shadow;
        width: 100%;
        border: 1px solid $nc-gray;
        background-color: white;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 10px;
      }

      &__new-section {
        margin-bottom: 15px;
      }

      &__text {
        vertical-align: top;
      }

      &__save-button {
        width: 100%;
        height: 30px;
        background-color: $nc-green;
        border-style: none;
        color: white;
        margin-top: 5px;
      }

      &__text-input {
        width: 100%;
        height: 30px;
      }

    }

  }

  &__title {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
  }

  &__component{
    position:relative;
    margin-bottom:15px;
    padding-left:20px;
    padding-right:20px;
  }

  &__subtitle{
    font-size: 14px;
    font-style: italic;
    margin-bottom: .25em;
  }

  &__text-input{
    color: black;
    padding: .75em 1em;
    width:100%;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  &__selected{
    border: 3px solid $nc-blue;
  }

  &__bordered{
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  &__html-input{
    width:100%;

    & > .ql-container {
      height:200px !important;
    }
  }

  &__add-button {
    background-color: $nc-blue;
    border-radius: 2px;
    border-style: none;
    color: $nc-white;
    font-size: 14px;
    height: 50px;
    margin-bottom: 20px;
    width: 100px;

  }

  &__add-button:hover {
    background-color: $nc-blue-hover;
    color: $nc-white;
  }

  &__remove-button {
    background-color: red;
    border-radius: 5px;
    border-style: none;
    color: $nc-white;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 50px;
    &__event {
      position: relative;
      top: 25px;
      width: 19px;
      margin-left: 20px;
    }
  }

  &__remove-button:hover {
    background-color: #fa5858;
  }

  &__group {
    border-top: 1px solid $nc-gray-border;
    display: flex;
    // padding-top: 15px;

    padding: 15px 10px 0;

    &__left {
      flex: 1;
      // padding-right: 10px;
    }

    &__right { flex: 0; }

    .nc-edit__add-button {
      margin-left: 20px;
    }

    &__event-group {
      display: unset;
    }

  }

  &__pills {
    display: flex;

    &__box {
      flex: 1;
      margin-right: 5px;
    }

    &__side-button {
      flex: 0;
      min-width: 100px;
    }

    &__pill {
      background-color: $nc-dark-gray;
      border-radius: 2px;
      display: inline-block;
      font-size: 10px;
      margin-left: 2px;
      margin-right: 1px;
      margin-top: 2px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 15px;
      padding-bottom: 15px;

      &__title {
        color: $nc-white;
        display: inline-block;
        min-width: 10px;
        text-align:center;
      }

      &__title:hover {
        cursor: pointer;
      }

      &__button {
        display: inline-block;
        font-size: 10px;
        background-color: transparent;
        border-style: none;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        color: $nc-white;
      }

      &__button:hover {
        color: $nc-error-red;
      }

    }


    &__pill:hover {
      background-color: $nc-blue-hover;
    }
  }

  &__columns {
    display: flex;
    align-items: stretch;
    height:350px;

    &__left {
      border: 1px solid $nc-gray-border;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 5px;
      width: 50%;
    }

    &__right {
      width: 50%;
      border: 1px solid $nc-gray-border;
      padding: 5px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

  }

  &__file-drop {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;

    &__image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    &__image {
      height: auto !important;
      width: 80px !important;
    }

    &__text {
      color: $nc-dark-gray;
      font-size: 10px;
      font-weight: 300;
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }

    &__text span {
      display: inline-block;
      line-height: normal;
      vertical-align: top;
    }

    &__error {
      color: red;
      font-size: 10px;
    }

    &__file {
      background-color: orange;
      height: 100%;
      left: 0px;
      opacity: 0;
      position: absolute;
      top: 0px;
      width: 100%;
    }
    &__file:hover {
      cursor: pointer;
    }
  }

  &__file-drop:hover {
    background-color: #f9f9f9;
  }

  &__color-picker {
    width: 100%;
  }

  &__color {
    display: inline-block;
    width: 70px;
    height: 100px;
    text-align: center;
    margin-right: 8px;
    margin-left: 8px;

    &__selected {
      border: 3px solid $nc-blue !important;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      font-size: 12px;
    }

    &__swatch {
      width: 50px;
      height: 50px;
      border: 1px solid $nc-gray;
      padding: 0px;
      margin: 0px;
      margin: auto;
      border-radius: 50%;
    }

  }

  &__inline {
    display: inline-block;
    text-align: center;
  }

}

.quillWrapper {
  .ql-toolbar {
    border-radius: 5px 5px 0 0;
  }

  .ql-container {
    border-radius: 0 0 5px 5px;
  }
}
