.nc-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  &__container {
    width:auto;
    margin-left: 77%;

    &__event-container {
      margin-left: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    display:none;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $nc-gray-bg;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  &__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  &__text {
    color: $nc-gray;
    position: relative;
    bottom: 6px;
  }

  &__icon {
    height: 26px !important;
    position: absolute;
    left: 70%
  }
}


input:checked + .nc-switch__slider {
  background-color: $nc-blue;
}

input:focus + .nc-switch__slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .nc-switch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
