@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'base/global';
@import 'base/typography';
@import 'layout/navigation';
@import 'layout/grid';
@import 'components/article-card';
@import 'components/buttons';
@import 'components/forms';
@import 'components/switch';
@import 'pages/login';
@import 'pages/topics';
@import 'pages/stories';
@import 'pages/design';
@import 'pages/layouts';
@import 'pages/share';
@import 'pages/contacts';
@import 'editors/editor';

.nc-draggable {
  height: 100%;
  min-height: 50px;
  width: 100%;
  min-width: 50px;
}
