.nc-spotlight{
  width:100%;
  padding-top:30px;

  &__body{

    &__image{
      display:inline_block;
      float:left;
      max-height:300px;
      max-width:300px;
      padding-right:20px;
    }

    &__text{
      display:inline_block;
      font-family:Arial,Helvetica,sans-serif;
      font-size:11px;
    }

  }
}
