.nc-container {
  display: block;
  width: 1200px;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  &__design {
    display: block;
    max-width: 100%;
    width: $nc-default-width;
    margin: auto;
    margin-top: 0;
  }
}

.nc-inner-container {
  max-width: 100%;
}

.nc-fullscreen {
  height: 100vh;
  width: 100vw;
}

.nc-flex {
  /**
  Fix this so the display: flex is not duplicated
  **/
  display: flex;

  &--wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &--center-children {
    align-items: center;
    justify-content: center;
  }
}

.nc-header {
  text-align: center;
}
