.nc-nav {
  background: $nc-blue;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  width: 100%;

  &__brand {
    margin: 0;

    img {
      position: absolute;
      top: 20px;
      left:60px;
      width: auto;
      height: 30px;
    }
  }

  &__navigation {
    border-bottom: 1px solid $nc-gray-border;
    border-top: 1px solid $nc-gray-border;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  &__inner-nav { width: auto; }

  &-item {
    list-style: none;

    a {

      color: $nc-white !important;
      display: block;
      font-size: 1.15em;
      font-weight: 900;
      line-height: 1;
      padding: 1.5em 1.75em;
      text-transform: uppercase;

      &:hover {
        color: $nc-blue;
        text-decoration: none !important;
      }
    }

    &--active {
      a { color: #28f392 !important; }
    }
  }
}
