.nc-template {

  &__section {
      width: 100%;

      /** begin relevant styles **/
      &__title {
        /** Any heading/layout styles **/
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left:50px;

        span {
          /** Your text styles here **/
          font-family: Impact, sans-serif;
          font-size: 24px;
          line-height: 1.25;
          overflow: hidden;
          text-align: left;
        }
      }

      &__bar {
        margin-right:50px;
        align-self: center;
        flex: 1;
        height: 5px;
        margin-left: .5em;
      }
      /** end relevant styles **/
    }

  &__date {
    text-align: center;
    font: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top:20px;
  }

}
