{
  "firebase": {
    "apiKey":"AIzaSyB466PlobIDE2K4e0KVCEu7Jx6palpd79g",
    "authDomain":"projectoracle-b9c0e.firebaseapp.com",
    "databaseURL":"https://projectoracle-b9c0e.firebaseio.com/",
    "storageBucket":"gs://projectoracle-b9c0e.appspot.com"
  }
}
